html {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    min-height: 100vh;
    /* background: linear-gradient(to right, #0f2027, #2b4e5a, #2d5b6f); */
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: white;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

/* Display */
.calculator-display {
    background: black;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
    margin: 0;
    padding: 25px;
    font-size: 45px;
    font-family: 'Lucida Console', sans-serif;
    font-weight: 100;
    overflow-x: auto;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Buttons */
.calculator-buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

button {
    min-height: 50px;
    font-size: 20px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #c7c7c7;
}

button:hover {
    filter: brightness(120%);
}

button:active {
    transform: translateY(3px);
}

button:focus {
    outline: none;
}

.operator {
    background: #808080;
    color: #ffffff;
    font-size: 30px;
}

.clear {
    background: #ff2828;
    color: #ffffff;
}

.clear:hover {
    filter: brightness(85%);
}

.equal-sign {
    grid-column: -2;
    grid-row: 2 / span 4;
    background: #0dcd4d;
}

/* Media Query: Large SmartPhone (Vertical) */
@media screen and (max-width: 600px) {
    .calculator {
        width: 70%;
    }
}
  